-@title='Todo list'
%br
  =link_to 'New', new_task_path, id: 'new_link', class: 'btn btn-primary', remote: true
%br
%hr
-user = current_user&.decorate
%h3
  User:
  =user.data
%h4
  -user = current_user&.decorate
  Total ToDo:
  = user.total_todo
%h4
  Done:
  = user.already_done_tasks
%br
=paginate tasks, class: 'btn btn-primary'

= form_tag tasks_update_selected_path do
  =submit_tag 'Finish selected', name: 'finish', class: 'btn btn-success'
  =submit_tag 'Remove selected', name: 'remove', class: 'btn btn-danger'
  %table.table.table-hover
    %thead-light
      %tr
        %th{:scope => "col"}= check_box_tag 'select/unselect all', 0, false, id: 'selectAll'
        %th{:scope => "col"} Nr
        %th{:scope => "col"} Title
        %th{:scope => "col"} Content
        %th{:scope => "col"} Created by
        %th{:scope => "col"} Assignee
        %th{:scope => "col"} Completed
        %th{:scope => "col"} Created at
        %th{:scope => "col"} Deadline
        %th{:scope => "col"} Finished
        %th{:scope => "col"} Actions
    %tbody{id: 'tasks'}
      -tasks.each_with_index do |task, index|
        %tr{id: "task_#{task.id}"}
          %td= check_box_tag 'task_ids[]', task.id, false, class: 'selectable'
          %td= index+1
          %td{class: 'title'}= task.decorated_title
          %td= task.content
          %td= task.user.data
          %td= task.assignee.data
          %td= task.check_if_done
          %td= task.created
          %td= task.deadline_time
          %td= task.finish_time
          %td= task.actions
